py-obfsproxy.sublime-project
py-obfsproxy.sublime-workspace
pytidy.py
tags
tidy.py
tidyall
pyvalidate.py
validateAll
.DS_Store
py-obfsproxy.xcodeproj/*
py-obfsproxy.xcodeproj/
build/*
dist/*
py2exe_bundle
obfsproxy.egg-info/*
*.pyc
src/obfsproxy/*.pyc
MANIFEST

# project files
.idea/
.project
.pydevproject

# emacs swap files:
*~
# vim swap files:
*.swp
*.swo
/TODO
/tmp/
